@model FinalMvcProject.Models.Course
<br /><br />
<h1> Download Files </h1>
<div class="container">
    <p id="h"></p>
    <div class="form-group">
        @Html.Label("Course", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @Html.DropDownList("Courses", String.Empty)

        </div>
    </div>
    <br /><br /><br />

    <div id="div1"></div>

    <div id="div2"></div>

    <div id="div3"></div>

    <button type="button" class="btn btn-info btn-lg" id="myBtn" data-toggle="modal" data-target="#myModal">Open Modal</button>
    <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <p>Some text in the modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
<!-- /.modal -->




</div>



    @section scripts
{

        <script>
            $(document).ready(function () {
                

                $("#Courses").addClass("form-control");
                $("#Courses").change(function () {
                    var id = $("#Courses").val();
                    // $("#files").load('@Url.Action("LoadFiles")', { id: id });
                    var div1 = 0;
                    var div2 = 0;
                    var div3 = 0;

                    //Start ajax

                    $.ajax({
                        type: "POST",
                        url: "LoadFiles",
                        contentType: "application/json; charset=utf-8",
                        datatype: "json",
                        data: JSON.stringify({ id: id }),
                        success: function (data) {
                            $("#images,#videos,#others").empty();
                            $.each(data, function (key, value) {
                                if (data != null) {
                                    var a = value.Type.split("/");
                                    if (a[0] == "image") {
                                       // http://localhost:6490/files/loading.gif
                                        $("#images").append('<div id="im" class=" col-md-6 alert-info">' + value.Name + '</div><div class="col-md-6"> <a class="btn btn-success" href="Download?name=' + value.Name + '">Download</a></div>');
                                        div1++;
                                    }
                                    else if (a[0] == "video") {
                                        $("#videos").append('<div id="vd" class=" col-md-6 alert-warning">' + value.Name + '</div><div class="col-md-6"><a class="btn btn-success" href="Download?name=' + value.Name + '">Download</a></div>');
                                        div2++;
                                    }
                                    else {
                                        $("#others").append('<div class="ot col-md-6 alert-danger">' + value.Name + '</div><div class="col-md-6"><a class="btn btn-success" href="Download?name=' + value.Name + '">Download</a></div>');
                                        div3++;
                                    }
                                }
                                else {
                                    $("#images").html("<h1>There is no files uploaded</h1>");
                                    $("#videos").empty();
                                    $("#others").empty();

                                }
                            });

                        },
                        error: function () {
                            alert("Not Success");
                        }

                    });

                    //End of ajax
                    //if (div1 == 0)
                    //{
                    //    $("#div1").empty();
                    //}
                    //else if (div2 == 0)
                    //{
                    //    $("#div2").empty();
                    //}
                    //else if (div3 == 0) {
                    //    $("#div3").empty();
                    //}

                });

                // ...................document ready state........................
                $("#div1").append('<div class="panel panel-info"><div class="panel-heading"><h3>Images</h3></div><div id="images" class="panel-body"></div>');
                $("#div2").append('<div class="panel panel-warning"><div class="panel-heading"><h3>Videos</h3></div><div id="videos" class="panel-body"></div>');
                $("#div3").append('<div class="panel panel-danger"><div class="panel-heading"><h3>Others</h3></div><div id="others" class="panel-body"></div>');


                $('#images').bind('click', function (event) {
                    alert(event.target.innerHTML);
                });
                //...................  end......................................

                //alert(''+document.getElementById("hafijur").src);
                $("#myBtn").click(function () {
                    $("#myModal").modal("show");
                });

            });


        </script>
    }
