
<br><br>
<div id="entrqs" class="jumbotron">
    Enter Question : <input type="text" id="question" name="question" /><br /><br />
    <input name="same" type="radio" id="firstr" value="" /><input id="firstq" type="text" /><br />
    <input name="same" type="radio" id="secondr" value="" /><input id="secondq" type="text" /><br />
    <input name="same" type="radio" id="thirdr" value="" /><input id="thirdq" type="text" /><br />
    <input name="same" type="radio" id="forthr" value="" /><input id="forthq" type="text" />

</div>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<input id="button" type="button" value="button" />



@section scripts
{
    <script>
        $(function () {

            var a = ["hafijur", "samrat", "farhana"];
            var b = [12, 43, 54, 23];
            $.ajax({
                type: "POST",
                url: "Test",
                contentType: "application/json; charset=utf-8",
                datatype: "json",
                data: JSON.stringify({ first: a, second: b }),
                success: function () {
                    alert("success");
                },
                error: function () {
                    alert("Not Success");
                }

            });
        });

    </script>

}





@*@section scripts
    {

        <script>
            $(function() {


                $("#firstq").keyup(function() {
                    $("#firstr").val($("#firstq").val());


                });
                $("#secondq").keyup(function() {
                    $("#secondr").val($("#secondq").val());
                });
                $("#thirdq").keyup(function() {
                    $("#thirdr").val($("#thirdq").val());
                });
                $("#forthq").keyup(function() {
                    $("#forthr").val($("#forthq").val());
                });
                $("#button").click(function () {
                    var question = $("#question").val();
                    var first = $("#firstr").val();
                    var second = $("#secondr").val();
                    var third = $("#thirdr").val();
                    var forth = $("#forthr").val();
                    var answer = $('input[type="radio"]:checked').val();
                    //alert(question+first+second+third+forth+answer);
                    //alert($("#firstr").val() + '<br/>' + $("#secondr").val() + '<br/>' + $("#thirdr").val() + '<br/>' + $("#forthr").val() + 'And the ans is ' + $('input[type="radio"]:checked').val());
                    //var obj = { Question: $("#question").val(), First: $("#firstr").val(), Second: $("#secondr").val(), Third: $("#thirdr").val(), Forth: $("#forthr").val(), Answer: $('input[type="radio"]:checked').val() };
                    var obj ={ Question:question, First:first, Second: second, Third: third, Forth: forth, Answer: answer };
                    $.ajax({
                        type: "POST",
                        url: "AjaxInput",
                        contentType: "application/json; charset=utf-8",
                        //data: JSON.stringify({ 'Question': $("#question").val(), 'First': $("#firstr").val(), 'Second': $("#secondr").val(), 'Third': $("#thirdr").val(), 'Forth': $("#forthr").val(), 'Answer': $('input[type="radio"]:checked').val() }),
                        data:JSON.stringify({ QuestionFor: question, First: first, Second: second, Third: third, Forth: forth, Answer: answer }),
                        datatype: "json",
                        success: function() {
                            alert("Successfully added");
                        },
                        error: function() {
                            alert("Not successfull");
                        }

                });
                });

            });

        </script>
    }*@
