@model IEnumerable<FinalMvcProject.Models.Department>
<br /><br />
<div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4 text-center lead center-block ">  <h3 class="text-info bg-info  "> Welcome To Quiz</h3></div>
    <div class="col-sm-4 col-md-offset-4 col-lg-offset-4 bg-success " id="result"></div>
</div>
<br/>
<div class="container">
    <div class=" col-md-4" style="text-align: center;">
        <label class="small" >Department</label>
        @Html.DropDownList("Department", "Select Department")
    </div>

    <div class=" col-md-4" style="text-align: center;">
        <label class="small">Course</label>
        <select id="course_dropdown" class="form-control"></select>
    </div>

    <div class=" col-md-4" style="text-align: center;">
        <label class="small">Quiz</label>
        <select id="quiz_dropdown" class="form-control"></select>
    </div>

    <div id="all_question" class="jumbotron"></div>
    <input type="button" id="submit"/>
</div>


    @section scripts
 {

        <script>
            var all_question_answr;
            $(function () {
                $("#Department").addClass("form-control");

                @*..............Depertment Dropdown Select Start.......................*@

                $("#Department").change(function () {
                    var dept = $("#Department").val();


                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("GetCourses")',
                        contentType: "application/json; charset=utf-8",
                        datatype: "json",
                        data: JSON.stringify({ id: dept }),
                        success: function (data) {
                            $("#course_dropdown").empty();
                            $("#course_dropdown").append("<option>Select Course</option>");
                            $.each(data, function (key, value) {

                                $("#course_dropdown").append('<option value="' + value.CourseId + '">' + value.Name + '</option>');



                            });


                        }


                    });
                });

                @*..............Depertment Dropdown Select End...........................*@




                @*..............Course Dropdown Select Start.............................*@

                $("#course_dropdown").change(function () {
                    var crsid = $("#course_dropdown").val();


                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("GetQuiz")',
                        contentType: "application/json; charset=utf-8",
                        datatype: "json",
                        data: JSON.stringify({ courseId: crsid }),
                        success: function (data) {
                            $("#quiz_dropdown").empty();
                            $("#quiz_dropdown").append("<option>Select Quiz</option>");
                            $.each(data, function (key, value) {

                                $("#quiz_dropdown").append('<option value="'+ value.Id + '">' + value.Name + '</option>');



                            });


                        }


                    });
                });

                @*..............Course Dropdown Select End...............................*@
                

                @*..............Quiz Dropdown Select Start...............................*@


                $("#quiz_dropdown").change(function () {
                    var qzid = $("#quiz_dropdown").val();


                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("GetQuestions")',
                        contentType: "application/json; charset=utf-8",
                        datatype: "json",
                        data: JSON.stringify({ quizId: qzid }),
                        success: function (data) {
                            all_question_answr = data;
                            $("#submit").val("Submit");
                            $("#submit").addClass("btn btn-success btn-lg");
                            $("#all_question").empty();
                            for (var i = 0; i < data.length; i++) {
                                $("#all_question").append('<h1>' + data[i].QuestionFor + '</h1>' +
                                    '<input value="'+ data[i].First +'" type="radio" name="same' + i+'"' + '/>  ' + data[i].First + '<br/>' +
                                    '<input value="'+ data[i].Second +'" type="radio" name="same' + i + '"' + '> ' + data[i].Second + '<br />' +
                                    '<input value="' + data[i].Third + '" type="radio" name="same' + i + '"' + '/> ' + data[i].Third + '<br />' +
                                    '<input value="' + data[i].Forth +'" type="radio" name="same' + i + '"' + '/> ' + data[i].Forth + '<br />');
                            }






                        }


                    });
                });


                @*..............Quiz Dropdown Select End.................................*@
                


                @*.............................start of submit button click................*@


                $("#submit").click(function () {
                    var count = 0;
                    var a="";
                    for (var i = 0; i < 3; i++) {
                        var ans =$("input[name='same"+i+"']:checked").val();
                        if (ans== all_question_answr[i].Answer) {
                            ++count ;
                        }
                        a = ans + " | " + all_question_answr[i].Answer+"|"+count;
                        alert(a)
                        
                       
                    }
                    $("#result").empty();
                    $("#result").append("<h1>Your Score is " + count + "</h1>");
                    $("html, body").animate({ scrollTop: 0 }, "first");
                });


                @*.............................End of submit button click................*@


            });

        </script>
    }


