
<br><br>
<div id="entrqs" class="jumbotron">
    Enter Question : <input type="text" id="question" name="question" /><br /><br />
    <input name="same" type="radio" id="firstr" value="" /><input id="firstq" type="text" /><br />
    <input name="same" type="radio" id="secondr" value="" /><input id="secondq" type="text" /><br />
    <input name="same" type="radio" id="thirdr" value="" /><input id="thirdq" type="text" /><br />
    <input name="same" type="radio" id="forthr" value="" /><input id="forthq" type="text" />

</div>



<div id="entrqs1" class="jumbotron">
    Enter Question : <input type="text" id="question" name="question" /><br /><br />
    <input name="same1" type="radio" id="firstr1" value="" /><input id="firstq1" type="text" /><br />
    <input name="same1" type="radio" id="secondr1" value="" /><input id="secondq1" type="text" /><br />
    <input name="same1" type="radio" id="thirdr1" value="" /><input id="thirdq1" type="text" /><br />
    <input name="same1" type="radio" id="forthr1" value="" /><input id="forthq1" type="text" />

</div>


<div id="entrqs2" class="jumbotron">
    Enter Question : <input type="text" id="question" name="question" /><br /><br />
    <input name="same2" type="radio" id="firstr2" value="" /><input id="firstq2" type="text" /><br />
    <input name="same2" type="radio" id="secondr2" value="" /><input id="secondq2" type="text" /><br />
    <input name="same2" type="radio" id="thirdr2" value="" /><input id="thirdq2" type="text" /><br />
    <input name="same2" type="radio" id="forthr2" value="" /><input id="forthq2" type="text" />

</div>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<input id="button" type="button" value="button" />

@section scripts
{

    <script>
        







        $(function() {

        var 
            $("#firstq").keyup(function() {
                $("#firstr").val($("#firstq").val());


            });
            $("#secondq").keyup(function() {
                $("#secondr").val($("#secondq").val());
            });
            $("#thirdq").keyup(function() {
                $("#thirdr").val($("#thirdq").val());
            });
            $("#forthq").keyup(function() {
                $("#forthr").val($("#forthq").val());
            });
            $("#button").click(function () {
                var question = $("#question").val();
                var first = $("#firstr").val();
                var second = $("#secondr").val();
                var third = $("#thirdr").val();
                var forth = $("#forthr").val();
                var answer = $('input[type="radio"]:checked').val();
                //alert(question+first+second+third+forth+answer);
                //alert($("#firstr").val() + '<br/>' + $("#secondr").val() + '<br/>' + $("#thirdr").val() + '<br/>' + $("#forthr").val() + 'And the ans is ' + $('input[type="radio"]:checked').val());
                //var obj = { Question: $("#question").val(), First: $("#firstr").val(), Second: $("#secondr").val(), Third: $("#thirdr").val(), Forth: $("#forthr").val(), Answer: $('input[type="radio"]:checked').val() };
                var obj ={ Question:question, First:first, Second: second, Third: third, Forth: forth, Answer: answer };
                $.ajax({
                    type: "POST",
                    url: "AjaxInput",
                    contentType: "application/json; charset=utf-8",
                    //data: JSON.stringify({ 'Question': $("#question").val(), 'First': $("#firstr").val(), 'Second': $("#secondr").val(), 'Third': $("#thirdr").val(), 'Forth': $("#forthr").val(), 'Answer': $('input[type="radio"]:checked').val() }),
                    data:JSON.stringify({ QuestionFor: question, First: first, Second: second, Third: third, Forth: forth, Answer: answer }),
                    datatype: "json",
                    success: function() {
                        alert("Successfully added");
                    },
                    error: function() {
                        alert("Not successfull");
                    }

                });
            });

        });

    </script>
}
