

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h1>Enter How many question you want to set</h1>
        <hr />
        
        <div class="form-group">
           
            <div class="col-md-10">
                <input type="number"  id="number" name="number" class="form-control" /><br/>
              <span style="color:red;font-size:large;"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}


@section scripts{
    <script>


        $(function () {
            var number = $("#number").val();
            $("#number").keyup(function () {
                var number = $("#number").val();
                if (number < 0) {
                    $("span").html("Negative not Allowed");
                }
                else if (number==0) {
                    $("span").html("Number can not be 0 or empty");
                }
                else {
                    $("span").html("");
                }
                
            });
        });
    </script>
}