@model IEnumerable<FinalMvcProject.Models.Quiz>
<label class="small">Select Quiz</label>
<select class="form-control" id="quiz_name_dropdown" >
    @if (Model != null)
    {
        foreach (var question in Model)
        {
            <option  value="@question.QuizId">@question.Name</option>
        }

    }
</select>
